/* Rendre le fond de l'application totalement transparent */
html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0); /* Fond transparent */
    overflow: hidden; /* Empêcher tout scroll */
}

/* Assurer que seuls les éléments spécifiques sont visibles */
.App {
    background: rgba(0, 0, 0, 0); /* Transparence totale */
    color: white;
}

/* Assurer que tout le contenu est caché sauf la bulle */
.hidden-content {
    display: none; /* Cache les autres pages */
}
